<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=title%></title>
    <link rel="stylesheet" href="/css/all.min.css">
    <link rel="stylesheet" href="/css/main.css">
    <script defer type="text/javascript" src="/js/main.js"></script>
</head>
<body>
    <header class="header">
        <h1>HotelHUB</h1>
        <a href="/logout"><i class="fa-solid fa-right-from-bracket fa-xl header__icon"></i></a>
    </header>
    <main>
        <section class="options">
            <button id="novaHospedagem">
                <div>
                    <div class="options__tipo">
                        <i class="fa-solid fa-building fa-2xl options__tipo-icon"></i>
                        <pre><h1>Nova<br>Hospedagem</h1></pre>
                    </div>
                </div>
            </button>
            <button id="gerenciarHospedagem">
                <div>
                    <div class="options__tipo">
                        <i class="fa-solid fa-building-circle-exclamation fa-2xl options__tipo-icon"></i>
                        <pre><h1>Gerenciar<br>Hospedagem</h1></pre>
                    </div>
                </div>
            </button>
            <button id="cadastrarHospede">
                <div>
                    <div class="options__tipo">
                        <i class="fa-solid fa-users fa-2xl options__tipo-icon"></i>
                        <pre><h1>Cadastrar<br>Hóspede</h1></pre>
                    </div>
                </div>
            </button>
            <button id="gerenciarHospede">
                <div>
                    <div class="options__tipo">
                        <i class="fa-solid fa-user-gear fa-2xl options__tipo-icon"></i>
                        <pre><h1>Gerenciar<br>Hóspedes</h1></pre>
                    </div>
                </div>
            </button>
            <button id="gerenciarAcomodacoes">
                <div>
                    <div class="options__tipo">
                        <i class="fa-solid fa-door-open fa-2xl options__tipo-icon"></i>
                        <pre><h1>Gerenciar<br>Acomodações</h1></pre>
                    </div>
                </div>
            </button>
            <button id="configurarDiarias">
                <div>
                    <div class="options__tipo">
                        <i class="fa-solid fa-sun fa-2xl options__tipo-icon"></i>
                        <pre><h1>Configurar<br>Diárias</h1></pre>
                    </div>
                </div>
            </button>
            <button id="gerenciarGaragem">
                <div>
                    <div class="options__tipo">
                        <i class="fa-solid fa-car fa-2xl options__tipo-icon"></i>
                        <pre><h1>Gerenciar<br>Garagem</h1></pre>
                    </div>
                </div>
            </button>
        </section>

        <%- include("../partials/novaHospedagem"); %>

        <%- include("../partials/gerenciarHospedagem"); %>

        <%- include("../partials/cadastrarHospede"); %>

        <%- include("../partials/gerenciarHospede"); %>

        <%- include("../partials/gerenciarAcomodacoes"); %>

        <%- include("../partials/configurarDiarias"); %>

        <%- include("../partials/gerenciarGaragem"); %>

    </main>
    <footer>
        <h3>Desenvolvido por: <a href="mailto:gabrieleugeniohu3@gmail.com">Gabriel Eugênio</a></h3>
    </footer>
    <script src="/js/options.js"></script>
</body>
</html>