<section class="escolha nova_hospedagem disable">
    <br>
    <h2 class="escolha__titulo">Nova Hospedagem</h2>
    <form action="/cadastrarHospedagem" method="post">
        <label for="tipo">Tipo do documento: <b><small id="resultadoBuscaCliente"></small></b></label>
        <button class="nova_hospedagem-buscar_cliente" id="buscarCliente" type="button">Buscar cliente</button>
        <br>
        <select name="tipo" id="tipoDocumentoNovaHospedagem">
            <option value="cpf" selected>CPF</option>
            <option value="passaporte">Passaporte</option>
        </select>
            <div class="escolha__form___flex">

                <label class="numeroDocumentoCpfNovaHospedagem" for="numeroDocumentoCpfNovaHospedagem">Nº Documento:</label>
                <input class="numeroDocumentoCpfNovaHospedagem" type="tel" name="cpd" id="numeroDocumentoCpfNovaHospedagem" minlength="11" maxlength="11">

                <label class="numeroDocumentoPassaporteNovaHospedagem disable" for="numeroDocumentoPassaporteNovaHospedagem">Nº Documento:</label>
                <input class="numeroDocumentoPassaporteNovaHospedagem disable" type="text" name="passaporte" id="numeroDocumentoPassaporteNovaHospedagem" maxlength="8">

                <label for="acomodacao">Seleciona a acomodação:</label>
             
                <select name="acomodacao" id="acomodacao">
                    <% for (acomodacao of acomodacoes) {%> 
                        <option value="<%= acomodacao.id %>"><%= acomodacao.tipo.toUpperCase() + " " + " Andar: " + acomodacao.andar + "º " +"Número: " + acomodacao.numero %></option>
                    <%} %>
                </select>
                <label for="valorhospedagem">Valor da hospedagem:</label>
                <select name="valorHospedagem" id="valorHospedagem">
                    <% for(diaria of diarias) 
                    {%>
                        <option value="<%= diaria.valor %>">R$<%= diaria.valor.replace(".",",") %></option>
                    <%} %>
                    
                </select>
                <label for="dataSaida">Previsão da saída:</label>
                <input type="date" name="dataSaida" id="dataSaida" min="<%= dataHoje %>">
            </div>
            <br>
            <input id="submitNovaHospedagem" type="submit" value="Cadastrar">
        </select>
    </form>
    <br>
</section>